.cell {
    aspect-ratio: 1;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid;
    padding: 4px;
    &:disabled:not(button),
    &.dim {
        background-color: transparent;
        border: 2px solid #7f7f7f;
        &.light {
            background-color: black;
        }
    }
}

.clue {
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.designer-clue {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 48px;
    font-size: 1em;
}
.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.designer {
    align-items: start;
    gap: 8px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
}

main {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.puzzle {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alt-puzzle-view {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    & > div {
        display: flex;
        flex-direction: column;
    }
    & div {
        gap: 8px;
    }
}
